@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    @apply py-3;
}

.bibi-elevator {
    @apply bg-green-600 hover:bg-green-900 text-green-50 font-bold py-3 px-3 border border-green-900 rounded fixed right-3 bottom-12 z-50 hover:transition hover:duration-300;
}

html { scroll-behavior: smooth; }
article section a { color: dodgerblue; text-decoration: underline; } article section a:hover { text-decoration: none; }
code { margin: 0.6rem 0; color: brown; white-space: pre-line; }
img { margin: 1rem auto; width: 100%; }

section img { max-width: 98%; max-height: 300px; object-fit: cover; object-position: center; }